<% if @location %>
  <div class="query">      
<% else %>
  <div class="noquery">    
<% end %>

<h1>Listing locations</h1>
 <%= form_tag root_path,:method => :get do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => 'button' , :class => "btn btn-success" %>
</p>
<% end %>
</div>


 <% if @location %>


<div id="bodycontent">
<div id="georesults">
<p class="distance"><b>Distance</b></p>

<p>
<%= render 'common/distance' %>
</p>

<p class="directions"><b>Directions</b></p>
<%= render 'common/directions' %>
</ul>


<h1>
Yo <code>\o/</code> 1337
</h1>
<p>Email</p>
<form action='/send_email' method='post'>
  <div><input type='email' name='to' placeholder='Send to yo friend(email address)'></div>
  <div><input type='text' name='subject' placeholder='Yo subject'></div>
  <div><input type='hidden' name="search" value="<%= params[:search] %>"></div>

  <div><%= text_area_tag(:body , "", :placeholder => 'Enter yo message') %></div>
  <div><%= submit_tag 'Send yo email, dawggg!!!' %></div>
</form>

</div>



<div id="geoimages">
<p>Map of <%= render 'common/address' %></p>
<p><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude}%2C#{@location.longitude}&zoom=14&size=400x400&sensor=false" %>




<p>Driving Map</p>
<p>test</p>
<p><iframe width="415" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=<%= @location.address %>&amp;daddr=<%= params[:search] %>&amp;hl=en&amp;z=6&amp;output=embed"></iframe><br /></p>


<p>Nearby Locations</p>
<table>
  <tr>
    <th>Address</th>
    <th><%= "Distance from #{params[:search]}" %></th>
    <th></th>
  </tr>

<% @locationlist.each do |location| %>
  <tr>
    <% if !location.address.include? @location.address %>
    <td><%= location.address %></td>
    
    <td><%= location.distance_to(params[:search]) > 0 ?  location.distance_to(params[:search]).round(2) : "0" %></td> 
    <td><%= location.distance_to(params[:search]) %></td> 



    <td><a href="http://localhost:3000/?utf8=%E2%9C%93&search=<%= params[:search] %>&button=Search">Show</a></td>



  </tr>
 <% end %>
 <% end %>

</table>

</div>
</div>




<% end %>


