# show

<p id="notice"><%= notice %></p>
<!--<%= params.inspect %>
<%= params[:q].inspect %>

  <%= @location.inspect %> -->

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>


<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude}%2C#{@location.longitude}&zoom=14&size=400x400&sensor=false" %>


<h3>Nearby</h3>
<ul>
<% for location in @location.nearbys(500)%>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %>) miles</li>
<% end %>
</ul>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>