<h3 style="color: green;">The contents of the body is</h3>

<p>
	<%= @body %>
</p>


<p>	<%= @search %> </p>

<p><%= @location.address %> </p>

<p><%= render 'common/distance' %></p>


<p><%= render 'common/directions' %></p>
